/input/*
Presentation.pptx
/reference/*
/figures/*
/utils/__pycache__/*
*/.ipynb_checkpoints

experiment/output/results.xlsx

experiment/output/bpi_2013_0.3_AE/*
!experiment/output/bpi_2013_0.3_AE/model_AE_epoch9_score1.1168.pth
experiment/output/bpi_2013_0.35_AE/*
!experiment/output/bpi_2013_0.35_AE/model_AE_epoch10_score1.1099.pth
experiment/output/bpi_2013_0.4_AE/*
!experiment/output/bpi_2013_0.4_AE/model_AE_epoch10_score1.1070.pth
experiment/output/bpi_2013_0.5_AE/*
!experiment/output/bpi_2013_0.5_AE/model_AE_epoch11_score1.1437.pth

experiment/output/bpi_2013_0.3_VAE/*
!experiment/output/bpi_2013_0.3_VAE/model_VAE_epoch2_score1.1031.pth
experiment/output/bpi_2013_0.35_VAE/*
!experiment/output/bpi_2013_0.35_VAE/model_VAE_epoch5_score1.1104.pth
experiment/output/bpi_2013_0.4_VAE/*
!experiment/output/bpi_2013_0.4_VAE/model_VAE_epoch10_score1.1305.pth
experiment/output/bpi_2013_0.5_VAE/*
!experiment/output/bpi_2013_0.5_VAE/model_VAE_epoch2_score1.1835.pth

experiment/output/bpi_2013_0.3_LSTMAE/*
experiment/output/bpi_2013_0.35_LSTMAE/*
experiment/output/bpi_2013_0.4_LSTMAE/*
experiment/output/bpi_2013_0.5_LSTMAE/*

experiment/output/bpi_2012_0.3_AE/*
experiment/output/bpi_2012_0.35_AE/*
experiment/output/bpi_2012_0.4_AE/*
experiment/output/bpi_2012_0.5_AE/*

experiment/output/bpi_2012_0.3_VAE/*
experiment/output/bpi_2012_0.35_VAE/*
experiment/output/bpi_2012_0.4_VAE/*
experiment/output/bpi_2012_0.5_VAE/*

experiment/output/bpi_2012_0.3_LSTMAE/*
experiment/output/bpi_2012_0.35_LSTMAE/*
experiment/output/bpi_2012_0.4_LSTMAE/*
experiment/output/bpi_2012_0.5_LSTMAE/*
